body{
    background-repeat: no-repeat;
    background-size: cover;
}
h1 button{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
input{
    font-family: 'Press Start 2P', cursive;
    margin: 10px;
    letter-spacing: 5px;
}
h6{
    margin-left: 10px;
}
footer{
    background-color: peru;
    color: white;
    border: black ;
    width: 30%;
    padding-bottom: 2px;
    position: fixed;
    bottom: 0;
    right: 0;
}
canvas{
    border: 10px dodgerblue dotted;
}